*{
    margin: 0;
    padding: 0;
}
:root{
    --backgroundcolor: rgb(3, 3, 27);
    --numberpadcolor: rgb(9, 9, 43);
    --displaycolor: #fff;
    --stoddcolor: rgb(255, 38, 0);
    --ndoddcolor: orange;
}
main{
    width: 100%;
    height: 100%;
    background-color: var(--backgroundcolor);
    position: absolute;
}
main .calc{
    width: 300px;
    height: 500px;
    background-color: var(--displaycolor);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 30% 70%;
}
.solve{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    padding-left: 65%;
    font-weight: 600;
}
.numpad{
    background-color: var(--numberpadcolor);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "c c divide  times"
    "sev eig nin minus"
    "four five six add"
    "tree two one add"
    "zero d-zero equ add";
}
.numbers{
    border: 0.05px solid var(--backgroundcolor);
    display: grid;
    place-content: center;
    font-size: 20px;
    color: var(--displaycolor);
}
.c{
    background-color: var(--stoddcolor);
    grid-area: c;
}
.divide{
    grid-area: divide;
}
.times{
    grid-area: times;
}
.sev{
    grid-area: sev;
}
.eig{
    grid-area: eig;
}
.nin{
    grid-area: nin;
}
.minus{
    grid-area: minus;
}
.four{
    grid-area: four;
}
.five{
    grid-area: five;
}
.six{
    grid-area: six;
}
.add{
    grid-area: add;
}
.tree{
    grid-area: tree;
}
.two{
    grid-area: two;
}
.one{
    grid-area: one;
}
.zero{
    grid-area: zero;
}
.d-zero{
    grid-area: d-zero;
}
.equ{
    background-color: var(--ndoddcolor);
    grid-area: equ;
}